{
  "presets": [
    [
      "airbnb",
      {
        "removePropTypes": true
      }
    ],
    [
      "env",
      {
        "loose": true,
        "uglify": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-runtime"]
}
