<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.browserColor %>" />
  <meta name="msapplication-navbutton-color" content="<%= htmlWebpackPlugin.options.browserColor %>" />
  <meta name="msapplication-tap-highlight" content="no" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <style>
    * {
      font-family: 'Open Sans', sans-serif;
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
